@font-face {
    font-family: "AbsentGrotesque";
    src: url("../assets/fonts/Absent-Grotesque-Bold.woff2") format("woff");
}

ion-title,
h2 {
    font-family: "AbsentGrotesque";
}

ion-content.bg-white {
    --background: #FFFFFF;
}

ion-content.bg-green {
    --background: var(--ion-color-primary)
}
