ion-grid.route-list {
    background-color: white;
    font-family: "AbsentGrotesque";
    color: var(--ion-color-primary);
    text-align: center;
    margin: 10px;
}

ion-grid.route-list ion-row[aria-disabled="true"] {
    color: #AAAAAA;
}

ion-grid.route-list ion-col.outer {
    box-shadow: 3px 3px 10px var(--ion-color-primary),
        -0px -0px 3px var(--ion-color-primary);
}

ion-grid.route-list ion-col.header {
    border: 1px dashed var(--ion-color-primary);
    border-width: 0 1px;
}

ion-grid.route-list ion-col.header:first-of-type {
    border-left: 0;
}

ion-grid.route-list ion-col.header:last-of-type {
    border-right: 0;
}

ion-grid.route-list ion-col.header h2 {
    display: block;
    font-size: 1.3rem;
    rotate: -45deg;
    text-align: center;
    width: 200%;
    margin: 25% -50%;
}

ion-grid.route-list ion-col:not(.header):not(.outer) {
    border: 1px dashed var(--ion-color-primary);
}

ion-grid.route-list ion-col:not(.header):not(.outer):first-of-type {
    border-left: 0
}

ion-grid.route-list ion-col:not(.header):not(.outer):last-of-type {
    border-right: 0
}

ion-grid.route-list ion-col.entry {
    color: #000000;
}

ion-grid.route-list img.project-mark {
    width: 3rem;
    height: 2.5rem;
    position: absolute;
    inset: 0;
    margin: auto;
}
